name: coverage
on:
  push:
    branches:
      - master
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ '3.9' ]
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install python dependencies
        run: |
          pip install ".[dev]"

      - name: Generate report
        run:
          coverage run -m pytest

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v1